* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 119, 52, 0.9);
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 0 860px;
    border-radius: 40px;
    
}

nav {
    position: absolute;
    top: 55px;
    left: 3px; 
    padding: 10px;
    background-color: rgba(255, 112, 143, 0.80);
    border-radius: 40px;
    color: white;

    
}

nav ul {
    list-style: none;
    
}

nav ul li {
    display: inline-block; /* Change the display property to inline-block */
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;

}

main {
    position: absolute;
    top: 100px;
    left: 750px;
    transform: translateX(-600px);
    width: 160px;
    

}

main article {
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 10px;
    width: 1000px;
    margin-right: 20px;
    position: absolute;
    left: 990px;
    top: 0;
  }
  
  
  .column {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 15px;
    background-color: rgba(248, 247, 228, 0.734);
    border-radius: 10px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 200px;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 100px;
      max-width: 100px;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100px;
      max-width: 100px;
    }
  }
  .content-wrapper {
    display: absolute;
    position: absolute;
}

.text-container {
    width: 90px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.rectangle {
    background-color: #fffae3;
    padding: 40px;
    border: 3px solid #3b60e4;
    width: 925px;
    position: absolute;
    top: 0px;
    left: -100px;
    border-radius: 40px;
    
    
}
.rectangle2 {
    background-color: #fffae3;
    padding: 40px;
    border: 3px solid #3b60e4;
    width: 925px;
    position: absolute;
    top: 525px;
    left: -100px;
    border-radius: 40px;
    
    
}
.rectangle3 {
    background-color: #fffae3;
    padding: 40px;
    border: 3px solid #3b60e4;
    Width: 925px;
    position: absolute;
    top: 1010px;
    left: -100px;
    border-radius: 40px;
    
    
}

body {
    background-color: #cecaf7; /* Fallback background color if the image doesn't load or cover the entire page */
          background-repeat: no-repeat;
          background-attachment: fixed;
          
          
            background-image: url("graphics/b.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            position: relative
            
    
}
