* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ee8434;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    background-color: #ff708f;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #574ae2;
}

main {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

main article {
    margin-bottom: 20px;
}

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
} */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image img {
    max-width: 100%;
    height: auto;
}
body {
    
    background-color: #cecaf7; /* Fallback background color if the image doesn't load or cover the entire page */
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
}